<h3>Become a member</h3>
<form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
  <table>
    <td><mat-form-field>
      <input matInput placeholder="First Name" formControlName="firstName"required>
      <mat-error><planet-form-error-messages [control]="registerForm.controls.firstName"></planet-form-error-messages></mat-error>
    </mat-form-field></td>
    <td><mat-form-field>
      <input matInput placeholder="Middle Name" formControlName="middleName" required>
      <mat-error><planet-form-error-messages [control]="registerForm.controls.middleName"></planet-form-error-messages></mat-error>
    </mat-form-field></td>
    <td><mat-form-field>
      <input matInput placeholder="Last Name" formControlName="lastName" required>
      <mat-error><planet-form-error-messages [control]="registerForm.controls.LastName"></planet-form-error-messages></mat-error>
    </mat-form-field></td>
  </table>
  <table>
    <td><mat-form-field>
      <input matInput placeholder="Login" formControlName="login" required>
      <mat-error><planet-form-error-messages [control]="registerForm.controls.login"></planet-form-error-messages></mat-error>
    </mat-form-field></td>
    <td><mat-form-field>
      <input matInput placeholder="Password" formControlName="password" required>
      <mat-error><planet-form-error-messages [control]="registerForm.controls.password"></planet-form-error-messages></mat-error>
    </mat-form-field></td>
    <td><mat-form-field>
      <input matInput placeholder="Re-enter password" formControlName="repeatPassword" required>
      <mat-error><planet-form-error-messages [control]="registerForm.controls.repeatPassword"></planet-form-error-messages></mat-error>
    </mat-form-field></td>
  </table>
  <table>
    <td><mat-form-field>
      <input matInput placeholder="Email" formControlName="email" required>
      <mat-error><planet-form-error-messages [control]="registerForm.controls.email"></planet-form-error-messages></mat-error>
    </mat-form-field></td>
    <td><mat-form-field>
      <input matInput placeholder="Language" formControlName="language">
      <mat-error><planet-form-error-messages [control]="registerForm.controls.required"></planet-form-error-messages></mat-error>
    </mat-form-field></td>
    <td><mat-form-field>
      <input matInput placeholder="Phone Number" formControlName="phoneNumber">
      <mat-error><planet-form-error-messages [control]="registerForm.controls.phoneNumber"></planet-form-error-messages></mat-error>
    </mat-form-field></td>
  </table>
  <table>

    <td>
    <table>
        <div formGroupName="birth">
      <mat-form-field  >

    <mat-select placeholder="Date" formControlName="day">
          <mat-option *ngFor="let d of  birthdays" [value]="d">
            {{d}}
          </mat-option>
          <mat-error><planet-form-error-messages [control]="registerForm.controls.birth.date"></planet-form-error-messages></mat-error>
        </mat-select>
         </mat-form-field>
    <mat-form-field>
  <mat-select placeholder="Month" formControlName="month">
          <mat-option *ngFor="let m of  birthmonths" [value]="m">
            {{m}}
          </mat-option>
          <mat-error><planet-form-error-messages [control]="registerForm.controls.birth.date"></planet-form-error-messages></mat-error>
        </mat-select>
  </mat-form-field>
  <mat-form-field>
  <mat-select placeholder="Year" formControlName="year">
          <mat-option *ngFor="let y of  birthyears" [value]="y">
            {{y}}
          </mat-option>
          <mat-error><planet-form-error-messages [control]="registerForm.controls.birth.year"></planet-form-error-messages></mat-error>
        </mat-select>
  </mat-form-field>
</div>
    </table>
    </td>

    <td>
      <td>
        <mat-form-field>
          <mat-select placeholder="Gender" formControlName="gender" required>
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
            <mat-error><planet-form-error-messages [control]="registerForm.controls.gender"></planet-form-error-messages></mat-error>
          </mat-select>
        </mat-form-field>
      </td>
      <td><mat-form-field>
        <mat-select placeholder="level" formControlName="level">
          <mat-option *ngFor="let level of educationLevel" [value]="level">
            {{level}}
          </mat-option>
          <mat-error><planet-form-error-messages [control]="registerForm.controls.level"></planet-form-error-messages></mat-error>
        </mat-select>
      </mat-form-field></td>
    </table>
    <table>
      <td><mat-form-field>
        <input matInput placeholder="Community" formControlName="community" required>
        <mat-error><planet-form-error-messages [control]="registerForm.controls.community"></planet-form-error-messages></mat-error>
      </mat-form-field></td>
      <td><mat-form-field>
        <input matInput placeholder="Region" formControlName="region" required>
        <mat-error><planet-form-error-messages [control]="registerForm.controls.region"></planet-form-error-messages></mat-error>
      </mat-form-field></td>
      <td><mat-form-field>
        <input matInput placeholder="Nation" formControlName="nation" required>
        <mat-error><planet-form-error-messages [control]="registerForm.controls.nation"></planet-form-error-messages></mat-error>
      </mat-form-field></td>
    </table>
    <div *ngIf="pwdMatch"><mat-error>{{pwdMatch}}</mat-error></div>
    <button type="submit"  mat-button color="primary" i18n>Register</button>
  </form>
<h3>Become a member</h3>
<form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
  <table>
    <td>
      <div>

      </div>
    </td>
    <td><mat-form-field>
      <input matInput placeholder="Middle Name" formControlName="middleName" required>
      <mat-error><planet-form-error-messages [control]="registerForm.controls.middleName"></planet-form-error-messages></mat-error>
    </mat-form-field></td>
    <td><mat-form-field>
      <input matInput placeholder="Last Name" formControlName="lastName" required>
      <mat-error><planet-form-error-messages [control]="registerForm.controls.LastName"></planet-form-error-messages></mat-error>
    </mat-form-field></td>
  </table>






    <div *ngIf="pwdMatch"><mat-error>{{pwdMatch}}</mat-error></div>
    <button type="submit"  mat-button color="primary" i18n>Register</button>
  </form>


     <mat-grid-list cols="2" rowHeight="100px">
  <mat-grid-tile> Hi
    <div></div>
  </mat-grid-tile>
  <mat-grid-tile>two</mat-grid-tile>
  </mat-grid-list>


